@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
.painel{
  text-align: center;
  align-content: center;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  background-color:cornflowerblue;
  width:1000px;
  margin: auto;
  padding: 25px;
  font-size: x-large;
  font-family: "Jersey 10", sans-serif;

}
.quadrado{
    width: 200px;
    height: 200px;
   text-align: center;
   font-size: 5vw;
   background-color: black;
   color: aliceblue;
   border-radius: 15px;
   aspect-ratio: 1 / 1; /* tirar */
}
.jogo{
    margin-left: 90px;/* auto */
    margin: auto;
   max-width: 400px;/* tirar */
  
}
@media (max-width: 600px) {
  .quadrado{
    font-size: 8vw;
  }
  .jogo {
    gap: 5px;
  }
  .painel{
    background-position: top;
    background-attachment: fixed;
  }
}
