@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
.painel{
  text-align: center;
  align-content: center;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  background-color:cornflowerblue;
  padding: 25px;
  font-size: x-large;
  font-family: "Jersey 10", sans-serif;

}
.quadrado{
    width: 200px;
    height: 200px;
   text-align: center;
   font-size: 5vw;
   background-color: black;
   color: aliceblue;
   border-radius: 15px;
   aspect-ratio: 1 / 1; /* tirar */
}
.jogo{
    margin-left: auto;
    margin-right: auto;
    border: none;
  
}
.butao{
  background-color: black;
  color: azure;
  padding: 10px;
  border: none;
  margin: 10px;
  border-radius: 10px;
}
.butao:hover{
  background-color:azure;
 color:black;
 transition: 1s;
}
body{
  background-image: url(https://wallpaper.dog/large/10742661.png);
  background-size: cover;
  height: 80vh;
}
@media(max-width: 1050px){
  .quadrado{
    width: 100px;
    height: 100px;
    font-size: 80px;
  }
}
