body { 
    /* cor de fundo */
  background-image: url(https://img.freepik.com/fotos-gratis/banner-com-fundo-abstrato-com-ondas-de-recorte-de-papel-verde_24972-1914.jpg);
    /* cor da letra */
    color:beige;
    /* alinhamento de texto */
    text-align: center;
/* trocando a fonte */
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 0px;
padding: 0px;
section {
    /* cor de fundo */
background-color:rgba(85, 107, 47, 0.781);
/* largura*/
max-width: 700px;
/*centralizar card*/
margin: auto;
/* arredondar bordas */
border-radius: 15px;
/* espaçamento exeterno */
margin-bottom: 15px;
/* espaçamento interno */
padding: 2px;
/*sombra*/
box-shadow: 7px 7px 7px rgb(58, 4, 4);
padding-bottom: 15px;
font-size:25px;
}

section:hover{
background-color:black;
transition:1s;
font-size: 32px;
}
ul{
list-style-type:none;
text-align: left;
}

#perfil{
    width: 200px;
    border-radius: 15px;
    border: 2px solid black
}
#perfil2{
    width: 200px;
    border-radius: 15px;
    border: 2px solid black;
    filter: grayscale(100%);
}
.links1 {
    text-decoration: none;
    color:beige;
}
.links2 {
    text-decoration: none;
    color:beige
}
.links3 {
    text-decoration: none;
    color:beige
}
.links4 {
    text-decoration: none;
    color:beige
}
.links5 {
    text-decoration: none;
    color:beige
}
}
.links1:hover, .links2:hover, .links3:hover, .links4:hover, .links5:hover {
    font-size: 35px;
    
}

.menu{
    background-color:rgba(85, 107, 47, 0.808);
    text-align:left;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    justify-content:center;

}
.menu ul{
    margin: 0px;
}
.celular{
    margin-top: 08px;
}

.menu ul li{
    display: inline-block;
    padding: 10px;

}
.menu ul li a{
color:beige;
text-decoration: none;
}

footer{
    background-color: rgba(85, 107, 47, 0.76);
    color: beige;
    margin: 20px;
    padding: 40px;
    box-shadow: 2px 2px 10px rgb(58, 4, 4);
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}

.celular{
    display: none;
}

@media(max-width: 1050px){
    .celular{
        display: block;
    }
    .menu ul{
        display: none;
    }
    ul.mostrarMenu{
        display: inline-block; 
    }
   .menu ul li{
    width: 100%;
   }
}